---
import type { CollectionEntry } from 'astro:content'
import { getCollection } from 'astro:content'
import { capitalize } from '../utils'

const allBlogArticles: CollectionEntry<'blog'>[] = await getCollection('blog')

const tags = [...new Set(allBlogArticles.flatMap((article) => article.data.tags))]
---

<footer class='bg-neutral-900 bg-clip-padding backdrop-filter backdrop-blur-md bg-opacity-40 text-white'>
  <div class='container mx-auto max-w-screen-xl px-8'>
    <div class='grid grid-cols-1 gap-12 sm:grid-cols-2 lg:grid-cols-4'>
      <div class='mt-10'>
        <h3 class='text-xl font-semibold mb-4'>About</h3>
        <p class='text-white text-sm'>
          Podcast and Tech Community on Discord (Magento, js, php, mysql, react, vue)
        </p>
      </div>
      <div class='mt-10'>
        <h3 class='text-xl font-semibold mb-4'>Categories</h3>
        <ul class='text-white text-sm'>
          {tags.map((tag) => (
            <li class='mb-2'>
              <a href={`/articles/tag/${tag}`}>#{capitalize(tag)}</a>
            </li>
          ))}
        </ul>
      </div>
      <div class='mt-10'>
        <h3 class='text-xl font-semibold mb-4'>Contact</h3>
        <ul class='text-white text-sm'>
          <li class='mb-2'>
            <a target="_blank" href='https://discord.gg/amfwybm3yj'>Discord</a>
          </li>
          <li class='mb-2'>
            <a target="_blank" href='https://x.com/discorgento'>Twitter</a>
          </li>
          <li class='mb-2'>
            <a target="_blank" href='https://instagram.com/discorgento'>Instagram</a>
          </li>
          <li class='mb-2'>
            <a target="_blank" href='https://github.com/discorgento'>GitHub</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
