---
import type { CollectionEntry } from 'astro:content'
import { getCollection } from 'astro:content'

import SearchForm from '../../components/SearchForm.astro'
import MainLayout from '../../layouts/MainLayout.astro'
import ArticleCard from '../../components/ArticleCard.astro'
import Pagination from '../../components/Pagination.astro'

import { ARTICLES_PER_PAGE } from '../../constants'

const currentPage: number | null = +Astro.url.searchParams.get('page')! || 1

const allBlogArticles: CollectionEntry<'blog'>[] = (
  await getCollection('blog')
).sort(
  (a: CollectionEntry<'blog'>, b: CollectionEntry<'blog'>) =>
    b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
)

const totalPages: number = Math.ceil(allBlogArticles.length / ARTICLES_PER_PAGE)

const articlesForPage: CollectionEntry<'blog'>[] = allBlogArticles.slice(
  (currentPage - 1) * ARTICLES_PER_PAGE,
  currentPage * ARTICLES_PER_PAGE
)
---

<MainLayout title='All Articles'>
  <section class="flex flex-col h-screen w-full relative gap-6 container">
    <section class="flex flex-col items-center w-full">
      <SearchForm />
    </section>
  
    <!-- Pagination -->
    <Pagination
      currentPage={currentPage}
      disableNext={currentPage === totalPages}
      disablePrevious={currentPage === 1}
    />
    <!-- Main Grid -->
    <div class='grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3'>
      <!-- Article Card -->
      {
        articlesForPage &&
          articlesForPage.map((article) => <ArticleCard article={article} />)
      }
    </div>
    

  
  </section>
</MainLayout>
