---
import { getCollection } from 'astro:content'
import type { CollectionEntry, } from 'astro:content'

import MainLayout from '../../layouts/MainLayout.astro'
import ArticleCard from '../../components/ArticleCard.astro'
import SearchForm from '../../components/SearchForm.astro'

const query: string|null = Astro.url.searchParams.get('query')

const allBlogArticles: CollectionEntry<'blog'>[] = await getCollection('blog')

const searchResults = allBlogArticles.filter((article) => {
  const titleMatch: boolean = article.data.title.toLowerCase().includes(query!.toLowerCase());
  
  const bodyMatch: boolean = article.body.toLowerCase().includes(query!.toLowerCase());

  const slugMatch: boolean = article.slug.toLowerCase().includes(query!.toLowerCase());

  return titleMatch || bodyMatch || slugMatch
})


---

<MainLayout title='Search Results'>
  <section class="flex flex-col h-screen w-full relative gap-6 container py-6 px-6 lg:px-8">
    <a href="/articles" class="inline-block bg-gray-100 p-2 mb-6 hover:bg-indigo-500 hover:text-white">All Articles</a>
  
    <SearchForm />
  
    <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
      {searchResults && searchResults.map((article) => (
        <ArticleCard article={article} />
      ))}
    </div>
  </section>
</MainLayout>