---
import { getCollection } from 'astro:content'
import type { CollectionEntry, } from 'astro:content'

import MainLayout from '../../layouts/MainLayout.astro'
import ArticleCard from '../../components/ArticleCard.astro'
import SearchForm from '../../components/SearchForm.astro'
import BackToArticles from '../../components/BackToArticles.astro'

const query: string|null = Astro.url.searchParams.get('query')

const allBlogArticles: CollectionEntry<'blog'>[] = await getCollection('blog')

const searchResults = allBlogArticles.filter((article) => {
  const titleMatch: boolean = article.data.title.toLowerCase().includes(query!.toLowerCase());
  
  const bodyMatch: boolean = article.body.toLowerCase().includes(query!.toLowerCase());

  const slugMatch: boolean = article.slug.toLowerCase().includes(query!.toLowerCase());

  return titleMatch || bodyMatch || slugMatch
})


---

<MainLayout title='Search Results'>
  <section class="flex flex-col h-screen w-full relative gap-4 container">
    <BackToArticles />
    <SearchForm />
  
    <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
      {searchResults && searchResults.map((article) => (
        <ArticleCard article={article} />
      ))}

    </div>
    {searchResults.length === 0 && (
      <section class="rounded-md bg-neutral-900 bg-clip-padding backdrop-filter backdrop-blur-xl bg-opacity-70 p-6 w-full">
        <article>
          <h1 class="text-4xl font-bold mb-2 text-white">No results found for <span class="text-orange-400">{query}</span></h1>
        </article>
      </section>
    )}
</MainLayout>